@use "../common/variables.scss";
@use "../common/mixins.scss";

.form {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 30px;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__group--price {
  @media (min-width: variables.$desktop-width) {
    margin-top: 16px;
  }
}

.form__title {
  @include mixins.set-font(16px, 24px, 600);
  margin-bottom: 20px;
  margin-left: -2px;
}

.form__filter-items {
  @include mixins.set-font(16px, 24px, 400);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 30px;

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 20px;
  }
}

.form__filter-items--manufacturer {
  margin-bottom: 29px;
}

.form__filter-item {
  margin-bottom: 20px;
}

.form__filter-input-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.form__slider-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
  background-image: linear-gradient(to top, variables.$base-color-accent, variables.$base-color-accent);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 2px;

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 21px;
  }
}

.form__slider-input {
  @include mixins.set-font(16px, 24px, 500);
  height: 40px;
  text-align: center;
  border: 2px solid variables.$alt-color-primary-lighter;
  padding: 8px 10px;
  border-radius: 4px;
  appearance: textfield;
  background-color: variables.$base-color-white;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: variables.$base-color-accent;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    border-color: variables.$alt-color-primary-darker;
  }

  &:disabled {
    border: 2px solid variables.$alt-color-accent;
    color: variables.$base-color-accent;
    background: variables.$bg-color-1;
  }

  @media (min-width: variables.$tablet-width) {
    width: 87px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 134px;
  }

  @media (max-width: variables.$mobile-width-only) {
    width: 118px;
  }
}

.form__slider-min-value {
  color: variables.$base-color-accent;
}

.form__group--buttons {
  display: flex;
  gap: 20px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    grid-column: 1 / -1;
    justify-content: center;
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: stretch;
  }

  @media (max-width: variables.$mobile-width-only) {
    flex-direction: column;
  }
}

.form__button {
  @include mixins.set-font(16px, 24px, 400);

  @media (min-width: variables.$desktop-width) {
    width: 100%;
  }
}

.form__radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid variables.$base-color-accent;
  background-color: variables.$base-color-white;
  border-radius: 50%;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: variables.$base-color-primary;
    border-radius: 50%;
    display: none;
  }
}

.form__control-input {
  &:checked ~ .form__radio-mark {
    border: 2px solid variables.$base-color-primary;
  }

  &:checked ~ .form__radio-mark::before {
    display: block;
  }

  &:checked:disabled ~ .form__radio-mark::before {
    background-color: variables.$alt-color-accent;
    display: block;
  }

  &:focus:not(:disabled):not(:checked) ~ .form__radio-mark,
  &:hover:not(:disabled):not(:checked) ~ .form__radio-mark {
    border: 2px solid variables.$alt-color-primary-lighter;
  }

  &:focus:not(:disabled):not(:checked) ~ .form__radio-mark::before,
  &:hover:not(:disabled):not(:checked) ~ .form__radio-mark::before {
    background-color: variables.$alt-color-primary-opacity;
    display: block;
  }

  &:disabled ~ .form__radio-mark {
    border: 2px solid variables.$alt-color-accent;
  }

  &:focus:not(:disabled):not(:checked) ~ .form__check-mark,
  &:hover:not(:disabled):not(:checked) ~ .form__check-mark {
    border: 2px solid variables.$alt-color-primary-lighter;
    background-color: variables.$alt-color-primary-opacity;
  }

  &:checked ~ .form__check-mark {
    background-color: variables.$base-color-primary;
  }

  &:checked ~ .form__check-mark::before {
    left: 71%;
  }

  &:checked:disabled ~ .form__check-mark::before {
    background-color: variables.$base-color-accent;
  }

  &:disabled ~ .form__check-mark {
    background-color: variables.$alt-color-accent;
  }

  &:disabled ~ .form__text {
    color: variables.$base-color-accent;
  }
}

.form__check-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 24px;
  background-color: variables.$base-color-accent;
  border-radius: 12px;
  padding: 0;
}

.form__check-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: variables.$base-color-white;
  border-radius: 50%;
}

.form__check-mark ~ .form__text {
  padding-left: 52px;
}

.form__radio-mark ~ .form__text {
  padding-left: 34px;
}

.form__slider-wrapper {
  border: none;
  align-content: start;
  gap: 20px;
  margin: 0;
  padding: 0;
  display: grid;
}

.form__slider {
  height: 0;
  margin: 10px 0 35px;
  padding: 0 12px;
  border: 1px solid variables.$alt-color-accent;
  border-width: 1px 0;
  border-radius: 0;
  box-shadow: none;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 33px;
  }
}
