@use "../common/variables.scss";
@use "../common/mixins.scss";

.header {
  background-color: variables.$base-color-white;
}

.header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.header__logo {
  text-decoration: none;
  cursor: pointer;

  @media (min-width: variables.$desktop-width) {
    margin-right: 20px;
  }

  @media (max-width: variables.$mobile-width-only) {
    margin-right: auto;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  display: block;
}

.header__title {
  @include mixins.set-font(12px, 16px, 400);
  display: none;
  margin: 0;

  @media (min-width: variables.$desktop-width) {
    display: block;
    max-width: 150px;
  }
}
