@use "../common/variables.scss";
@use "../common/mixins.scss";

.section-title {
  @include mixins.set-font(12px, 16px, 700);
  color: variables.$base-color-primary;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-align: center;
}
